---
import Layout from "../../layouts/StarryLayout.astro";
import "animate.css";
---

<Layout title="Welcome to Astro.">
  <div class="container mx-auto px-4 py-10 relative z-10">
    <div
      class="p-6 bg-white/80 rounded-lg shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-2xl border-2 border-green-500 animate__animated animate__fadeIn"
    >
      <h2 class="text-3xl font-bold mb-4 text-center">イベント詳細</h2>
      <p class="mb-6 text-lg">
        このクリスマスイベントでは、星空観察や天文学に関する楽しいアクティビティを提供します。家族みんなで楽しめる内容です。
      </p>
      <ul class="list-disc list-inside text-lg space-y-2">
        <li>日時: 2024年12月21日 ??:00~</li>
        <li>場所: 茨城工業高等専門学校</li>
        <li>参加費: 無料</li>
      </ul>
    </div>
    <div
      class="p-6 bg-white/80 rounded-lg shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-2xl border-2 border-green-500 mt-6 animate__animated animate__fadeIn"
    >
      <h2 class="text-3xl font-bold mb-4 text-center">プログラム</h2>
      <ol class="list-decimal list-inside text-lg space-y-2">
        <li>オープニングセレモニー</li>
        <li>星空観察セッション</li>
        <li>天文学ワークショップ</li>
        <li>クリスマス特別講演</li>
        <li>クローズングセレモニー</li>
      </ol>
    </div>
  </div>
</Layout>
