---
import Layout from "../layouts/ChristmasLayout.astro";
import "animate.css";
---

<Layout title="уВдуГЩуГ│уГИф╕Ашжз">
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold mb-8 text-center">уВдуГЩуГ│уГИф╕Ашжз</h1>
    <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-8">
      <a
        href="/Event/ScienceShow"
        class="bg-white/80 rounded-lg shadow-md p-6 animate__animated animate__lightSpeedInRight"
      >
        <h2 class="text-2xl font-semibold mb-4">ЁЯзкуВ╡уВдуВиуГ│уВ╣уВ╖уГзуГ╝</h2>
        <ul class="text-gray-700 mb-4">
          <li>цЧецЩВ: 2024х╣┤12цЬИ21цЧе 15:00уАЬ</li>
          <li>ха┤цЙА: шМихЯОх╖еценщлШчнЙх░ВщЦАхнжцаб 1хП╖щди х▒Лф╕К</li>
          <li>хПВхКаш▓╗: чДбцЦЩ</li>
        </ul>
        <div class="text-blue-500 hover:underline">уВдуГЩуГ│уГИхЖЕхо╣уВТшжЛуВЛ</div>
      </a>
      <a
        href="/Event/WorkShop"
        class="bg-white/80 rounded-lg shadow-md p-6 animate__animated animate__lightSpeedInRight"
      >
        <h2 class="text-2xl font-semibold mb-4">ЁЯОДуГпуГ╝уВпуВ╖уГзуГГуГЧ</h2>
        <ul class="text-gray-700 mb-4">
          <li>цЧецЩВ: 2024х╣┤12цЬИ21цЧе 16:00уАЬ</li>
          <li>ха┤цЙА: шМихЯОх╖еценщлШчнЙх░ВщЦАхнжцаб 1хП╖щди х▒Лф╕К</li>
          <li>хПВхКаш▓╗: чДбцЦЩ</li>
        </ul>
        <div class="text-blue-500 hover:underline">уВдуГЩуГ│уГИхЖЕхо╣уВТшжЛуВЛ</div>
      </a>
      <a
        href="/Event/Stargazing"
        class="bg-white/80 rounded-lg shadow-md p-6 animate__animated animate__lightSpeedInRight"
      >
        <h2 class="text-2xl font-semibold mb-4">ЁЯФнхдйф╜Ушж│ц╕м</h2>
        <ul class="text-gray-700 mb-4">
          <li>цЧецЩВ: 2024х╣┤12цЬИ21цЧе 17:00уАЬ</li>
          <li>ха┤цЙА: шМихЯОх╖еценщлШчнЙх░ВщЦАхнжцаб 1хП╖щди х▒Лф╕К</li>
          <li>хПВхКаш▓╗: чДбцЦЩ</li>
        </ul>
        <div class="text-blue-500 hover:underline">уВдуГЩуГ│уГИхЖЕхо╣уВТшжЛуВЛ</div>
      </a>
    </div>
  </div>
</Layout>
