---
import Layout from "../layouts/ChristmasLayout.astro";
import 'animate.css';
---

<Layout title="イベント一覧">
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold mb-8 text-center">
    イベント一覧
    </h1>
    <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-8">
    <div class="bg-white/80 rounded-lg shadow-md p-6 animate__animated animate__lightSpeedInRight">
      <h2 class="text-2xl font-semibold mb-4">🧪サイエンスショー</h2>
      <p class="text-gray-700 mb-4">イベント 2 の説明がここに入ります。</p>
      <a href="/Event/ScienceShow" class="text-blue-500 hover:underline"
      >詳細を見る</a
      >
    </div>
    <div class="bg-white/80 rounded-lg shadow-md p-6 animate__animated animate__lightSpeedInRight">
      <h2 class="text-2xl font-semibold mb-4">🎄ワークショップ</h2>
      <p class="text-gray-700 mb-4">イベント 3 の説明がここに入ります。</p>
      <a href="/Event/WorkShop" class="text-blue-500 hover:underline"
      >詳細を見る</a
      >
    </div>
    <div class="bg-white/80 rounded-lg shadow-md p-6 animate__animated animate__lightSpeedInRight">
      <h2 class="text-2xl font-semibold mb-4">🔭天体観測</h2>
      <p class="text-gray-700 mb-4">イベント 1 の説明がここに入ります。</p>
      <a href="/Event/Stargazing" class="text-blue-500 hover:underline"
      >詳細を見る</a
      >
    </div>
    </div>
  </div>
</Layout>
