---
import Layout from "../layouts/Layout.astro";
import AstroChristmasBackground from "../components/AstroChristmasBackground";
---

<Layout title="Welcome to Astro.">
  <AstroChristmasBackground client:only>
    <div></div>
  </AstroChristmasBackground>
  <div></div>
</Layout>
