---
import Layout from "../layouts/ChristmasLayout.astro";
import AstroChristmasBackground from "../components/AstroChristmasBackground";
import { Image } from "astro:assets";
import Poster from "/public/Poster.webp";
import "animate.css";
---

<Layout title="天文部のクリスマスサイエンスショーへようこそ！">
  <AstroChristmasBackground client:only>
    <div class="container mx-auto px-4 py-10">
      <div
        class="flex flex-col md:flex-row items-center md:items-start animate__animated animate__fadeIn"
      >
        <div
          class="w-full md:w-1/2 mb-4 md:mb-0 md:mr-4 animate__animated animate__zoomIn"
        >
          <Image
            src={Poster}
            alt="ポスター"
            class="w-full object-cover rounded-2xl shadow-xl"
            style="max-height: 1040px; max-width: 720px;"
            loading="lazy"
          />
        </div>
        <div class="w-full md:w-1/2">
          <main class="p-4">
            <section
              class="bg-white/80 shadow-md rounded-lg p-6 mb-4 animate__animated animate__rotateIn"
            >
              <h2 class="text-2xl font-semibold mb-2">イベント詳細</h2>
              <p class="mb-4">
                このクリスマスサイエンスショーでは、最新の天文学の発見や驚くべき実験を紹介します。家族みんなで楽しめる内容です。
              </p>
              <ul class="list-disc list-inside">
                <li>日時: 2024年12月21日 15:00〜19:00</li>
                <li>場所: 茨城工業高等専門学校 天文部</li>
                <li>参加費: 無料</li>
              </ul>
            </section>
            <section
              class="bg-white/80 shadow-md rounded-lg p-6 animate__animated animate__rotateIn"
            >
              <h2 class="text-2xl font-semibold mb-2">プログラム</h2>
              <ol class="list-decimal list-inside">
                <li>オープニングセレモニー</li>
                <li>天文学講演</li>
                <li>天体観測セッション</li>
                <li>クリスマス特別実験ショー</li>
                <li>クローズングセレモニー</li>
              </ol>
            </section>
          </main>
        </div>
      </div>
    </div>
  </AstroChristmasBackground>
</Layout>
