---
import Layout from "../layouts/ChristmasLayout.astro";
import AstroChristmasBackground from "../components/AstroChristmasBackground";
import { Image } from "astro:assets";
import Poster from "/public/Poster.webp";
import "animate.css";
---

<Layout title="天文部のクリスマスサイエンスショーへようこそ！">
  <AstroChristmasBackground client:only>
    <div class="container mx-auto px-4 py-10">
      <div
        class="flex flex-col md:flex-row items-center md:items-start animate__animated animate__fadeIn"
      >
        <div
          class="w-full md:w-1/2 mb-4 md:mb-0 md:mr-4 animate__animated animate__zoomIn"
        >
          <Image
            src={Poster}
            alt="ポスター"
            class="w-full object-cover rounded-2xl shadow-xl"
            style="max-height: 1040px; max-width: 720px;"
            loading="lazy"
          />
        </div>
        <div class="w-full md:w-1/2">
          <main class="p-4">
            <section
              class="bg-white/80 shadow-md rounded-lg p-6 mb-4 animate__animated animate__rotateIn"
            >
              <h2
                class="text-2xl font-semibold mb-2 text-transparent bg-clip-text bg-gradient-to-r from-red-500 via-green-500 to-red-500"
              >
                イベント詳細
              </h2>
              <p class="mb-4 text-gray-700">
                このクリスマスサイエンスショーでは、最新の天文学の発見や驚くべき実験を紹介します。家族みんなで楽しめる内容です。
              </p>
              <ul class="list-disc list-inside text-gray-700">
                <li>日時: 2024年12月21日 15:00〜19:00</li>
                <li>場所: 茨城工業高等専門学校 天文部</li>
                <li>参加費: 無料</li>
              </ul>
            </section>
            <section
              class="bg-white/80 shadow-md rounded-lg p-6 mb-4 animate__animated animate__rotateIn"
            >
              <h2
                class="text-2xl font-semibold mb-2 text-transparent bg-clip-text bg-gradient-to-r from-red-500 via-green-500 to-red-500"
              >
                プログラム
              </h2>
              <ol class="list-decimal list-inside text-gray-700">
                <li>オープニングセレモニー</li>
                <li>天文学講演</li>
                <li>天体観測セッション</li>
                <li>クリスマス特別実験ショー</li>
                <li>クロージングセレモニー</li>
              </ol>
            </section>
            <section
              class="w-full bg-white/80 shadow-md rounded-lg p-6 mb-4 animate__animated animate__rotateIn"
            >
              <h2
                class="text-2xl font-semibold mb-2 text-transparent bg-clip-text bg-gradient-to-r from-red-500 via-green-500 to-red-500"
              >
                イベント一覧
              </h2>
              <ul class="list-none text-gray-700">
                <li class="mb-2">
                  <a
                    href="/Event/ScienceShow"
                    class="flex flex-col justify-between"
                  >
                    <span class="font-bold">・🧪サイエンスショー</span>
                    <span>超極寒の世界ではどんなことが起こる？</span>
                    <span class="text-blue-500 hover:underline"
                      >イベント内容を見る</span
                    >
                  </a>
                </li>
                <li class="mb-2">
                  <a
                    href="/Event/WorkShop"
                    class="flex flex-col justify-between"
                  >
                    <span class="font-bold">・🎄ワークショップ</span>
                    <span>クリスマスにちなんだ工作を楽しもう！</span>
                    <span class="text-blue-500 hover:underline"
                      >イベント内容を見る</span
                    >
                  </a>
                </li>
                <li class="mb-2">
                  <a
                    href="/Event/Stargazing"
                    class="flex flex-col justify-between"
                  >
                    <span class="font-bold">・🔭天体観測</span>
                    <span>一年で最も夜が長い日。色々な星が見れるかも。</span>
                    <span class="text-blue-500 hover:underline"
                      >イベント内容を見る</span
                    >
                  </a>
                </li>
              </ul>
            </section>
          </main>
        </div>
      </div>
    </div>
  </AstroChristmasBackground>
</Layout>
